# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Logs
*.log

# IDE / editor folders
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# dotenv files
.env

# macOS
.DS_Store
